* {

  box-sizing: border-box;

}

body {

  font-family: "Candara";

  

  

}

li {

  list-style: none;

}

.header {

  background-color: #782fff;

  color: rgb(5, 5, 5);

  height: 90px;

}  

.header-logo {

  float: left;

  padding: 27px 27px;

  font-size: 27px;

  font-family: Segoe script;

}

.header-list li {

  float:inline-start;

  padding: 27px 27px;

  font-size: 24px;

  color:lavender;

}

.container {

  max-width: 2000px;

  padding: 0 15px;

  margin: 0 auto;

  color:rgb(255, 255);

}

.top-wrapper {

  padding: 300px 300px 0;

  background-image: url(https://github.com/raisyaannisa/rsyannn28/blob/main/c0dad8e5-a930-45c1-8b79-36a86be123d6.jpg?raw=true);

  background-size: cover;

  color: black;

  text-align: center;
  
  width: 1000px;

}

.top-wrapper h1 {
  opacity: 0.7;

  font-size: 45px;

  letter-spacing: 5px;

  margin-bottom: 10px;

}

.top-wrapper p {

  opacity: 0.7;

  margin-bottom: 3px;

}

.btn-wrapper {

  text-align: center;

  margin: 20px 0;

}

.btn-wrapper p {

  margin: 10px 0;

}  

.signup {

  background-color: #ff4563;

}

.facebook {

  background-color: #3b5998;

  margin-right: 10px;

}

.btn {

  padding: 12px 24px;

  color: white;

  display: inline-block;

  opacity: 0.8;

  border-radius: 4px;

  text-align: center;

}

.btn:hover {

  opacity: 1;

}

.fa {

  margin-right: 5px;

}

.message-wrapper {

  border-bottom: 1px solid rgb(255, 255, 255);

  padding-bottom: 80px;

  text-align: center;

}

.message {

  padding: 15px 40px;

  background-color: #ffffff;

  cursor: pointer;

  box-shadow: 0 7px #ffffff;

  color: rgb(255, 0, 0);

}

.message:active {

  position: relative;

  top: 7px;

  box-shadow: none;

}

footer img {

  width: 125px;

}

footer p {

  color: #ffffff;

  font-size: 12px;

}

footer {

  padding-top: 30px;

  padding-bottom: 20px;

  color: rgba(255, 255, 255, 0.836);

}
